{% extends "nav_bar.html" %}

{% block content %}
    <body id="home_color">
        <h1>At Home</h1>
        <button id="insideSuggestion">Give Me Something to Do At Home.</button>
        <h2 id="suggestionText"></h2>
        
        <script>
    
        const insideButton = document.getElementById('insideSuggestion');
        insideButton.addEventListener('click', (e) => {
            e.preventDefault();
            getSuggestion('home');
        });
        
        </script>
    </body>
{% endblock %}
