{% extends "base.html" %}

{% block content %}
<h1>YOU ARE BORED</h1>
    <div class="row">
        <div class="column" id="at_home_column">
            <a class="button" href="{{ url_for('at_home') }}">AT HOME</a>
        </div>
        <div class="column" id="outdoors_column">
            <a class="button" href="{{ url_for('outdoors') }}">OUTDOORS</a>
        </div>
        <div class="column" id="chat_column">
            <a class="button" href="{{ url_for('chat') }}">CHAT</a>
        </div>
        <div class="column" id="video_call_column">
            <a class="button" href="{{ url_for('video_call') }}">VIDEO CALL</a>
        </div>
      </div>
{% endblock %}
