{% extends "base.html" %}

{% block content %}
<h1>YOU ARE BORED </h1>
    <div class="row">
        <div class="column" id="at_home_column" id="inside_home_column">
            <h1 class="label">AT HOME</h1>
        </div>
        <div class="column" id="outdoors_column" id="inside_outdoors_column">
            <h1 class="label">CHAT</h1>
        </div>
        <div class="column" id="chat_column" id="inside_chat_column">
            <h1 class="label">VIDEO CALL</h1>
        </div>
        <div class="column" id="video_call_column" id="inside_call_column">
            <h1 class="label">OUTDOORS</h1>
        </div>
      </div>
{% endblock %}
