{% extends "nav_bar.html" %}

{% block content %}
    <body id="outdoors_color">
        <h1>Outdoors</h1>
        <button id="outsideSuggestion">Give Me Something to Do Outdoors.</button>
        <h2 id="suggestionText"></h2>

        
        <script>

            const outsideButton = document.getElementById('outsideSuggestion');
            outsideButton.addEventListener('click', (e) => {
                e.preventDefault();
                getSuggestion('outside');
            });
            
        </script>
    </body>
{% endblock %}

